@model WebApplication2.Models.User
<form method="post">
    <label asp-for="name"></label>
    <input type="email" asp-for="name" />
    <label asp-for="email"></label>
    <input type="email" asp-for="email" />
    <label asp-for="password"></label>
    <input type="password" asp-for="password" />
    <input type="submit" value="login" />
</form>