@model WebApplication2.Models.User
<form method="post">
    <label asp-for="Name"></label>
    <input type="email" asp-for="Name" />
    <label asp-for="Email"></label>
    <input type="email" asp-for="Email" />
    <label asp-for="password"></label>
    <input type="password" asp-for="password" />
    <input type="submit" value="login" />
</form>