@model WebApplication2.Models.User
<form method="post">
    <div>
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" class="form-control" />
    </div>
    <div>
        <label asp-for="password"></label>
        <input type="password" asp-for="password" class="form-control" />
    </div>
    <div>
        <input type="submit" value="login" class="btn btn-primary" />
    </div>
</form>