@model WebApplication2.Models.User
<form method="post" class="form-group">
    <div >
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email"class="form-control" />
    </div>
    <div>
        <label asp-for="password"></label>
        <input type="password" asp-for="password"class="form-control" />
    </div>
    <div>
        <input type="submit" value="Register" class="btn btn-primary" />
    </div>
</form>