@model WebApplication2.Models.User
<form method="post" class="form-group">
    <div >
        <label asp-for="name"></label>
        <input type="text" asp-for="name" class="form-control" />
    </div>
    <div>
        <label asp-for="email"></label>
        <input type="email" asp-for="email"class="form-control" />
    </div>
    <div>
        <label asp-for="password"></label>
        <input type="password" asp-for="password"class="form-control" />
    </div>
    <div>
        <input type="submit" value="Register" class="btn btn-primary" />
    </div>
</form>